.gradient {
  background: linear-gradient(to bottom, #595959 0%, #85d8ce 33%, #9fc6b4 66%, #1a2a6c 120%);
  background-size: 200%;
  background-position-y: 0;
  transition: 1s background-position ease-out;
  height:25rem;

  &_after {
    background-position-y: -8rem;
  }
}

.hero {
  min-height: 0;
  padding: 0.5rem;

  background-image: url("../../public/painting_of_me_no_background.png");
  background-size: 66%;
  background-position: -1rem -15rem;
  background-attachment: fixed;
  background-repeat:no-repeat;
  @media only screen and (max-width: 1024px) {
    .avia-safari #top .avia-full-stretch{
      background-attachment: scroll !important;
      background-position: 5rem -15rem;
    }
  }
  @media only screen and (max-width: 1024px) {
    .avia-safari #top .avia-full-stretch{
      background-attachment: scroll !important;
      background-size: 100vh;
      background-position: 40% -7rem;
    }
  }
  @media (max-width: 1024px) {
    background-size: 100vh;
    background-position: 40% -5rem;
  }
}

.pageTitle {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1.5rem;
  padding-left: 1.5rem;
  margin-left: 70vw;
  mix-blend-mode: lighten;
  color: #e0e0e0;
  transition: 0.5s ease-in-out;
  text-align: center;
  justify-content: start;
  @media (max-width: 1024px) {
    mix-blend-mode: unset;
    font-size: 1rem;
    letter-spacing: 0;
    margin-left: 60vw;
  }
  &_scroll {
    font-size: 4rem;
    margin-left: 26vw;
    @media (max-width: 1024px) {
      font-size: 2rem;
      letter-spacing: 1rem;
      padding-left: 1rem;
      margin-left: unset;
    }
  }
}

.body {
  background: linear-gradient(358.75deg, rgba(#181818,1) 0%, rgba(#e0e0e0,1) 10%);
  min-height: 100vh;
  padding-bottom: 7.5rem;
}


