.container {
  background: linear-gradient(to bottom, #595959, white);
  margin-top: 0;
  text-align: center;
}

.hero {
  min-height: 15vh;
  display: grid;
  place-items: center;
  padding: 0.5rem;

  background-image: url("../../public/painting_of_me_no_background.png");
  background-size: 66%;
  background-position: left;
  background-attachment: fixed;
  background-repeat:no-repeat;
  @media (max-width: 800px) {
    background-size: 100vh;
    background-position: center;
  }
}

.pageTitle {
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 1.5rem;
  padding-left: 1.5rem;
  mix-blend-mode: lighten;
  color: #e0e0e0;
  @media (max-width: 800px) {
    mix-blend-mode: unset;
    font-size: 2rem;
    letter-spacing: 1rem;
    padding-left: 1rem;
  }
}

