@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'montserrat', sans-serif;
  margin: 0px;
//disable auto block amrgins
h1,h2,h3,h4,h5,h6,p
{

}

}

.content {
  display: block;
  text-align: center;
}

.pageTitle {
  color: #232b2b;
  font-weight: 100;
}

.pageContainer {
  min-height: 100vh;
  padding-top: 1rem;
}

.pageContainerHome {
  min-height: 90vh;
  padding-top: 5rem;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.spinner {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-top: 0.1rem solid #000;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
