@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'montserrat', sans-serif;
  margin: 0px;
//disable auto block amrgins
h1,h2,h3,h4,h5,h6,p
{

}

}

.content {
  display: block;
  text-align: center;
}

.pageTitle {
  color: #232b2b;
  font-weight: 100;
}

.pageContainer {
  height: 700px;
  padding-top: 1rem;
}

.pageContainerHome {
  height: 700px;
  padding-top: 5rem;
}

*{
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
