@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;600;700;800;900&display=swap');

body {
  font-family: 'montserrat', sans-serif;
  margin: 0;
//disable auto block amrgins
h1,h2,h3,h4,h5,h6,p
{

}

}

.content {
  display: block;
  text-align: center;
}

.pageTitle {
  color: #232b2b;
  font-weight: 100;
}

.pageContainer {
  min-height: 100vh;
}

.pageContainerHome {
  height: 100dvh;
  transition: 0.2s;
}

body {
  overflow-x: hidden;
}

*{
  -ms-overflow-style: none;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25vh;
}

.spinner {
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-top: 0.1rem solid #000;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.mainText{
  font-size: 1.4rem;
  font-weight: 300;
  text-align: justify-all;
  color: #232b2b;
  margin-top:0.75rem;
  margin-bottom: 0.5rem;
  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

.sectionHead{
  width: 100%;
  color: black;
  border-bottom-color: black;
  border-bottom: solid;
  border-width: 0.05rem;
  font-size: 1.2rem;
  font-weight: 600;
  @media (max-width: 800px) {
    font-size: 1rem;
  }

}

.sectionHeadNoUnderline{
  width: 100%;
  color: black;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

.secondaryText{
  font-size: 1.1rem;
  color: white;
  text-align: left;
  font-weight: 300;
  width:100%;
  border-bottom-color: rgba(white,0.25);
  border-bottom-style: solid;
  border-bottom-width: 1px;
  @media (max-width: 800px) {
    font-size: 1rem;
  }
}

.skillText{
  text-align: left;
  a{
    padding-right: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
    color:white;
    @media (max-width: 800px) {
      font-size: 0.9rem;
    }
  }
}
