@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  font-family: 'Noto Sans', sans-serif;
  margin: 0px;
//disable auto block amrgins
h1,h2,h3,h4,h5,h6,p
{

}

}

.content {
  display: block;
  text-align: center;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
