.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: #c5caca;
  font-weight: 900;
  margin-top: 30vh;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
  padding-left: 1.5rem;
  font-size: 5rem;
  text-align: center;

  @media (max-width: 925px) {
    font-size: 4rem;
  }
  @media (max-width: 800px) {
    font-size: 2.5rem;
    letter-spacing: 1.2rem;
  }
  @media (max-width: 360px) {
    font-size: 2.45rem;
    letter-spacing: 1.2rem;
  }
  @media (max-width: 280px) {
    font-size: 1.8rem;
    letter-spacing: 1rem;
    padding-left: 1rem;
  }
}

.video {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100dvh;
  object-fit: cover;
  filter: contrast(130%) brightness(90%) grayscale(100%);
  transform: scaleY(-1);
}



