// Define the animations for the nav bar for sliding in
@keyframes slide-in {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes slide-out {
  from {
    transform: translateY(90%);
    background-color: #E0E0E0;
    margin-top: 3.5rem;
  }

  to {
    transform: translateY(-200%);
    background-color: #E0E0E0;
    margin-top: 3.5rem;
  }
}

.slide-out-animation {
  animation: slide-out 0.3s ease-in-out both;
}

@media (prefers-reduced-motion) {
  .slide-out-animation {
    animation: none;
  }
}

.header {
  display: flex;
  width: auto;
  padding: 0.25rem 2rem;
  background-color: #E0E0E0;

  @media (max-width: 800px) {
    padding: 0 0.4rem 0;
  }

  align-items: center;
  justify-content: space-between;

  &__menu {
    cursor: pointer;
    display: none;

    @media (max-width: 800px) {
      display: flex;
      right: 0.6rem;
      top: 1.3rem;
    }

    align-items: center;
    gap: 0.5rem;
  }

  &__desktop-links {
    display: flex;
    gap: 3rem;

    // This is the panel that appears when opened on mobile
    @media (max-width: 800px) {
      position: fixed;
      padding-right: 1.2rem;
      flex-direction: column;
      justify-content: space-between;
      right: 0;
      top: -10rem;
      width: 100%;
      z-index: 1;
    }
  }

  // state how items should be layed out on LHS and RHS

  &__right {
    align-items: center;
  }


  &__left {
    align-items: flex-end;
    z-index: 20000;

    a{
      text-decoration: none;
      h2{
        color: #232b2b;
        font-weight: 400;
      }
    }

    @media (max-width: 800px) {
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      height: 50%;
      a{
        h2{
          font-size: 1.75rem;
        }
      }
    }
  }


  &__mobile {

    // This is the styles for the actual panel that slides in
    &-links {
      background-color: #E0E0E0;
      display: flex;
      gap: 1rem;

      @media (max-width: 800px) {
        margin-top: 3.5rem;
        padding-right: 1.2rem;
        position: fixed;
        flex-direction: column;
        top: 0;
        right: 0;
        width: 100%;
        height: 40vw;
        z-index: 10000;
        animation: slide-in 0.2s ease-in-out;

        @media (prefers-reduced-motion) {
          animation: fade-in 0.4s ease-in-out;
        }
      }
    }
  }
}

.nav_links {
  display: flex;
  list-style-type: none;

  &_notActive{
    text-shadow:1px 0 0 #E0E0E0;
  }

  &_active {
    text-shadow:1px 0 0 #4e5555;
  }

  // if item to left and right apply margin
  *+* {
    margin-left: 2rem;
  }

  // if on mobile do not apply left margin and display vertically
  @media (max-width: 800px) {
    flex-direction: column;
    text-align: center;

    *+* {
      margin-left: 0;
      margin-top: 1rem;
    }
  }

  // the link style
  li {
    font-weight: 500;
    font-size: 1rem;
    line-height: 150%;
    position: relative;
    color: #4e5555;
    a {
      text-decoration: none;
      color: #4e5555;
      font-size: 1.25rem;
    }

    // different if on mobile
    @media (max-width: 800px) {

      a {
        font-size: 1.4rem;
        line-height: 150%;
      }
    }

    @media (max-width: 800px) {
      font-size: 1.125rem;
    }

    &:hover::after {
      opacity: 1;
    }
  }
}
