.container{
  width: 100%;
  padding-top: 10vh;
}

.button{
  border: 0.01rem solid #e0e0e0;
  border-radius: 0.5rem;
  float: right;
  background-color: transparent;
  font-family: 'montserrat', sans-serif;
  cursor: pointer;
  padding: 0.75rem;
  font-size: 1rem;
  color: #e0e0e0;
  font-weight: 600;
  transition: 0.4s;
  @media (max-width: 800px) {
    margin: 0 0.75rem 0.5rem;
  }
}

.button:hover{
  background-color: #e0e0e0;
  color: #2a2a2a;
  @media (max-width: 800px) {
    background-color: #e0e0e0;
    color: #2a2a2a;
  }
}

.button:active {
  background-color: #2a2a2a;
  color: #e0e0e0;
}

.input_container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input_container:focus-within label {
  transform: translate(0, 12px) scale(0.8);
  color: #e0e0e0;
}

.input_container .filled {
  transform: translate(0, 12px) scale(0.8);
  background-color: transparent;
}

.input_container label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 23px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #e0e0e0;
  left: 16px;
  top: -0.6rem;
}

.input_container input {
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  padding: 24px 16px 4px 16px;
  border: 0.01rem solid #e0e0e0;
  margin-bottom: 0.5rem;
  font-family: 'montserrat', sans-serif;
  background-color: transparent;
  color: #e0e0e0;
}

.input_container input:-webkit-autofill,
.input_container input:-webkit-autofill:hover,
.input_container input:-webkit-autofill:focus,
.input_container input:-webkit-autofill:active {
  -webkit-background-clip: text;
  -webkit-text-fill-color: #e0e0e0;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px #2a2a2a;
}

.input_container textarea {
  line-height: 1;
  height: 6rem;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  padding: 24px 16px 4px 16px;
  border: 0.01rem solid #e0e0e0;
  margin-bottom: 0.5rem;
  font-family: 'montserrat', sans-serif;
  resize: none;
  background-color: transparent;
  color: #e0e0e0;
}

.input_container input:focus {
  box-shadow: 0 0 0 2px #4e5555;
}

.input_container textarea:focus {
  box-shadow: 0 0 0 2px #4e5555;
}

.input_container_error {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input_container_error:focus-within label {
  transform: translate(0, 12px) scale(0.8);
  color: #4e5555;
}

.input_container_error .filled {
  transform: translate(0, 12px) scale(0.8);
}

.input_container_error label {
  position: absolute;
  pointer-events: none;
  transform: translate(0, 23px) scale(1);
  transform-origin: top left;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  color: #e0e0e0;
  left: 16px;
  top: -8px;
}

.input_container_error input {
  line-height: 1;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  padding: 24px 16px 4px 16px;
  border: 0.01rem solid indianred;
  margin-bottom: 0.5rem;
  font-family: 'montserrat', sans-serif;
  background-color: transparent;
}

.input_container_error textarea {
  line-height: 1;
  height: 6rem;
  outline: none;
  box-shadow: none;
  transition: 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  padding: 24px 16px 4px 16px;
  border: 0.01rem solid indianred;
  margin-bottom: 0.5rem;
  font-family: 'montserrat', sans-serif;
  resize: none;
  background-color: transparent;
}

.input_container input:focus {
  box-shadow: 0 0 0 2px #4e5555;
}

.input_container textarea:focus {
  box-shadow: 0 0 0 2px #4e5555;
}
