.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  gap: 0.75rem;
  width: 90vw;


  span{
    padding:0.5rem;
    color: white;
    font-size: 0.9rem;
    font-weight: 200;
  }
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.rowContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 1rem;
  z-index: 0;
  span{
    padding:0.5rem;
    color: white;
    font-size: 0.9rem;
    font-weight: 200;
  }
}

.listContainer{
  display: table;
  width: 100%;
  table-layout: fixed;
  margin-top: -1.5rem;
  div{
    display: table-cell;
    text-align: center;
    ul{
      list-style-type: none;
      margin: 0 0 0 0.2rem;
      padding: 0;
      color: white;
      font-weight: 200;
      font-size: 1rem;
      width: 100%;
      @media (max-width: 820px) {
        font-size: 0.8rem;
      }
      @media (max-width: 300px) {
        font-size: 0.7rem;
      }
      li{
        padding-top: 0.1rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        @media (max-width: 820px) {
          padding-left: 0.25rem;
          padding-right: 0.25rem;
        }
      }
    }
  }
}
.singularListElem{
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
  color: white;
  @media (max-width: 820px) {
    font-size: 0.8rem;
  }
  @media (max-width: 300px) {
    font-size: 0.7rem;
  }
}
