.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  gap: 0.75rem;
  width: 90vw;


  span{
    padding:0.5rem;
    color: white;
    font-size: 0.9rem;
    font-weight: 200;
  }
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

.imageContainer{
  display: flex;
}

.image{
  width: 100%;
  height: clamp(15rem, 22vw, 30rem);
  object-fit: contain;

  @media (max-width: 1024px) {
    height: clamp(10rem, 50vw, 30rem);
  }
}


.buttons{
  display: flex;
  position: absolute;
  margin-top: -2.5rem;
  padding-left: 1rem;
  gap: 2rem;
  a {
    text-decoration: none;
    font-size: 3rem;
    font-weight: 200;
    opacity: 0.75;
    mix-blend-mode: difference;
    color: white;
  }
      @media(hover: hover) and (pointer: fine) {
        a:hover {
          color: #e0e0e0;
          cursor: pointer;
          opacity: 0.5;
        }
      }
    }

.previous {
  color: black;
}

.next {
  color: black;
}
